body {
font-family: Arial, sans-serif;
background:□#0fofof;
padding: 20px;
text-align: center;
.video-box
{ background: ：□#a62121;
 padding:10px;
border-radius:6px;
max-width: 560px;
margin: auto;
box-shadow: θ 2px 5px □rgba(0,0,0,0.1);
}
video {
width:100%;
 border-radius: 4px;
